/* contact me form css*/
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 900;
    font-color: white;
    align-content: center;
    align-items: center;
  }
  .emailBox {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: #0f162400;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    height: 500px;
    width: 350px;
    border-radius: 12px;
  }
  #name,
  #emailip,
  #message {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-self: flex-start;
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: start;
  }
  #CM {
    text-align: center;
    font-size: 25px;
  }
  #send {
    align-self: center;
    height: 30px;
    width: 105%;
    margin-top: 40px;
    background: #f98a8a;
  }
  .emailBox input,
  textarea {
    width: 100%;
    height: 20px;
    max-width:270px;
     max-height: 90px;
    border-radius: 40px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
  }
  p {
    color:#fc621a;
  }