body {
    padding:0;
    margin: 0;
    height: 100%;
    font-family: 'Comfortaa', cursive;

    
}

section {
    height:500px;
    background-color: white;
   
    
}



.hero {
background-image: url('images/dots.jpeg');
background-repeat: no-repeat;
background-size: cover;
    height:100vh;
    color: brown;
    font-size:40px;
    

}

footer {
    padding:30px;
    background-color: burlywood;
    color: brown;
    text-align:center; 
    bottom: 1;
     left:0;
    right:0;
     margin-top: 1400px;
     

        

}
nav {
    display:flex;
    justify-content: space-between;
    color: brown;
    
}

ul{
    display:flex;
    list-style-type:none;
    justify-content: space-around;
    font-size:30px;
   

}

ul.show {
    display:block;

}

li {
    
   text-decoration: none;
   width:200px;
   justify-content: space-between;
  
  
}

h1{
    font-size:90px;
    margin: 0;

}

p {
    margin:0;
    font-size: 30x;
    font-weight:300;

}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}
.hero-area {
    display:flex;
    height:100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left:80px;
    margin-bottom: 200px;
    color: brown;

}

.button {
    Width:200px;
    height:55px;
    border-radius: 30px;
    background-color:peru;
    text-align:center;
    font-size: 30px;
    font-weight: 300;
    padding-top:5px;
    margin-top:20px;
}

.button:hover {
    background-color:brown;
}

.button:active {
    background-color:orangered;
}

.socials {
    padding-bottom:200px;
}
.logo {
    height:90px;
    margin:40px;
}

.social {
    margin: 20x;

}

.sub-section {
    display:flex;
    justify-content: space-around;
    padding:80px;

}

h2 {
    font-size: 50px;
    color: brown;


}

.headshot {
    
    width: 300px;
    border-radius: 10px;
    
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px brown;
    margin:10px;

}
.project-container {
    display:flex;
    justify-content: space-around;
}


@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:1000px) {

    .hamburger {
        border:0;
        background-color: transparent;
        color:brown;
        font-size:30px;
    }
    ul {
        display:none;
        background-color: blue;
        margin: 0px;
    }
    nav {
        align-items:flex-start;
        flex-direction: column-reverse;
        background-color: blue;
    }

    .logo {
        display: none;
    }
}





.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:250px;

}

.box {
    height:auto;
    width: 400px;
    margin:10px;
}
.project-image {
    margin-top:25px;
    width: 250px;
    border-radius:0px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
   text-decoration: none; 
    color:brown;


}

a {
    text-decoration:none;
    color: white; 
}

.hamburger {
    display:none;
}

.hamburger:focus{
    outline:0;
}
